openapi: 3.0.0
servers:
  - url: 'https://api.avito.ru/'
info:
  version: '1'
  title: Авито API для бизнеса
  description: >
    # Общая информация

    Описание API произведено в формате [**Swagger
    3.0**](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md).

    Вы можете использовать данный файл для ознакомления с методами API, а также
    для генерации базового

    кода для работы с API на удобном для вас языке программирования с помощью
    утилиты

    [**Swagger Codegen**](https://swagger.io/swagger-codegen/) или online
    сервиса [**Swagger Editor**](https://editor.swagger.io/).


    **Авито API для бизнеса предоставляется согласно [Условиям
    использования](https://api.avito.ru/docs/public/APITermsOfServiceV1.pdf).**


    По всем вопросам работы с API необходимо обращаться в Службу Поддержки
    профессиональных инструментов:


    <li>телефон: <b>+7 495 777-10-66</b></li>

    <li>email: <a
    href="mailto:supportautoload@avito.ru">supportautoload@avito.ru</a></li>


    # Типы авторизации

    Для использования данного API запрос должен быть авторизован. В данный
    момент API Авито использует следующие механизмы авторизации.


    <!-- ReDoc-Inject: <security-definitions> -->


    Подробнее о каждом механизме и его назначении можно прочитать в
    соответствующем разделе.
  contact:
    email: supportautoload@avito.ru
tags:
  - name: Access
    x-displayName: Персональная авторизация
    description: >
      Для работы с API от своего лица необходимо получить токен авторизации —
      отдельный для каждой учетной записи на Авито.

        1. Получаем **client_id** и **client_secret** в Службе Поддержки
        2. Выписываем себе токен:
           ```
           curl -i 'https://api.avito.ru/token/?grant_type=client_credentials&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>'
           ```
        3. Далее выполняем запросы к API с заголовком `Authorization: Bearer <ACCESS_TOKEN>`

        Время действия токена ограничено - 1 час с момента его получения.
        После этого вам необходимо получить новый токен.
  - name: ApplicationAccess
    x-displayName: Авторизация для приложений
    description: >
      Для работы с API приложений от лица пользователя есть возможность получить
      токен через Authorization Code механизм протокола OAuth2. Для этого в
      первую очередь нужно зарегистрировать приложение через службу поддержки.
      После успешной регистрации ваше приложение получит возможность работать с
      API Авито от лица пользователя (если последний выдаст на это разрешение).


      Подробнее об Authorization Code флоу протокола OAuth2 можно почитать [в
      статье](https://www.digitalocean.com/community/tutorials/oauth-2-ru).
      Процесс работы с этим флоу в API Авито отличается только незначительными
      деталями – ниже по шагам описан процесс интеграции.


      Обратите внимание, что не все доступные API сейчас работают через механизм
      авторизации для приложений (в данный момент только API мессенджера Авито
      поддерживает этот механизм).


      ### Шаг 1: Регистрация приложения


      Регистрируем приложение через Службу Поддержки. Для регистрации нужно
      указать:


      * Имя приложения, которое будет выводиться пользователям в форме
      подтверждения прав

      * ID пользователя Авито, которому будут принадлежать права на
      зарегистрированное приложение

      * Redirect URI - адрес, на который сайт Авито средиректит пользователя
      после подтверждения прав

      * Скоупы, которые необходимы вашему приложению (подробнее о доступных
      скоупах ниже)

      * Описание приложения - для каких целей вы планируете использовать доступ
      к данным


      В данный момент мы регистрируем только доверенные приложения от наших
      партнеров.


      Скоупы определяют права, на которые ваше приложение сможет рассчитывать
      после подверждения авторизации пользователем. Доступные скоупы перечислены
      [тут](#section/Tipy-avtorizacii/Authorization%20Code).


      ### Шаг 2: Ссылка с кодом авторизации


      Сначала пользователю предоставляется ссылка следующего вида:


      ```

      https://avito.ru/oauth?response_type=code&client_id=<CLIENT_ID>&scope=messenger:read,messenger:write

      ```


      ### Шаг 3: Пользователь авторизует приложение


      Пользователь переходит по ссылке на Авито, аутентифицируется при
      необходимости, затем подтверждает выдачу необходимых прав вашему
      приложению.


      ### Шаг 4: Приложение получает код авторизации


      Если пользователь выбирает "Авторизовать приложение", Авито перенаправляет
      пользовательский агент (браузер) по URI перенаправления (Redirect URI),
      который был задан на этапе регистрации приложения и добавляет в него
      параметр `code`. Например, если при регистрации в качестве Redirect URI
      был указан адрес `https://example.com/callback/avito`, то мы перенаправим
      пользователя на:


      ```

      https://example.com/callback/avito?code=<AUTHORIZATION_CODE>

      ```


      ### Шаг 5: Приложение запрашивает токен доступа


      Приложение запрашивает токен доступа у API Авито путём отправки
      авторизационного кода и аутентификационной информации (включая секрет
      приложения). Ниже представлен пример GET-запроса для получения access
      token:


      ```

      https://api.avito.ru/token/?grant_type=authorization_code&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&code=<AUTHORIZATION_CODE>

      ```


      ### Шаг 6: Приложение получает токен доступа


      Если авторизация прошла успешно, API возвращает токен доступа (а также
      токен для обновления токена доступа - refresh token). Весь ответ сервера
      может выглядеть следующим образом:


      ```

      {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3600,
          "refresh_token": "<REFRESH_TOKEN>",
          "scope": "messenger:read,messenger:write",
          "token_type": "Bearer"
      }

      ```


      Приложение сохраняет access_token и refresh_token.


      ### Шаг 7: Приложение делает запросы к API c токеном доступа


      Далее приложение может выполнять запросы к API с заголовком
      `Authorization: Bearer <ACCESS_TOKEN>`


      ### Шаг 8: Приложение обновляет access_token


      Время действия access token ограничено - 1 час с момента его получения.
      После этого вам необходимо получить новый токен.


      После истечения срока действия токена доступа все запросы к API с его
      использованием будут возвращать код ошибки 403. Сохраненный refresh token
      может быть использован для получения нового токена доступа от
      авторизационного сервера.


      Ниже представлен пример GET-запроса, использующего refresh token для
      обновления токена доступа:


      ```

      https://api.avito.ru/token/?grant_type=refresh_token&client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&refresh_token=<REFRESH_TOKEN>

      ```


      В ответ приложение получит точно такой же JSON, как и при обмене code на
      access token. При этом будет получен не только новый access_token, но и
      новый refresh_token. Обновите оба значения в своей базе данных.


      ### Дополнительный параметр state


      Для того чтобы защитить данные пользователей мы крайне рекомендуем
      использовать параметр state. Этот параметр позволяет защититься от
      CSRF-атак и восстановить состояние вашего приложения на момент начала
      авторизации. Подробнее, зачем нужен параметр state, можно прочитать
      [тут](https://auth0.com/docs/protocols/oauth2/oauth-state).


      Для того, чтобы использовать state – просто включите его в начальный URL:


      ```

      https://avito.ru/oauth?response_type=code&client_id=<CLIENT_ID>&scope=messenger:read,messenger:write&state=<STATE>

      ```


      В итоге state будет содержаться в финальном Redirect URI, на который Авито
      перенаправляет пользователя после подтверждения прав доступа. Например,
      если при регистрации в качестве Redirect URI был указан адрес
      `https://example.com/callback/avito`, то мы перенаправим пользователя на:


      ```

      https://example.com/callback/avito?code=<AUTHORIZATION_CODE>&state=<STATE>

      ```


      Не передавайте чувствительные данные в открытом виде в этом параметре.
      Генерируйте уникальное временное значение state в вашем приложении.
  - name: User
    x-displayName: Пользователь
    description: Методы API для получения информации о пользователе Авито
  - name: Autoload
    x-displayName: Сервис Автозагрузка
    description: Методы API для получения информации об автозагрузке объявлений
  - name: Item
    x-displayName: Объявления
    description: Общие методы API для работы с объявлениями на Авито
  - name: Autoteka
    x-displayName: Автотека
    description: >
      Методы API для работы с сервисом Автотека.


      Для того чтобы воспользоваться данным функционалом Вам необходимо стать
      партнером Автотеки.


      Стать официальным партнером и получить доступ к данным методам можно,

      подав заявку через [**Обратную связь с
      Autoteka**](https://autoteka.ru/feedback).


      В качестве темы запроса нужно указать **"Сотрудничество"**.



      **Алгоритм получения отчёта**

        1. Отправляем [запрос на создание превью по VIN](#operation/postPreviewByVin) или [запрос на создание превью по государственному номеру](#operation/postPreviewByRegNumber)
        2. Отправляем [запрос на получение превью по ID](#operation/getPreview)
        3. Проверяем статус:
            - Если `processing`, то повторяем шаг 2
            - Если `notFound`, то это значит, что по данному VIN нельзя сформировать отчёт
            - Если `success`, то отправляем [запрос на создание отчёта по превью](#operation/postReport)
  - name: Realty
    x-displayName: Краткосрочная аренда
    description: Методы API для партнёров для работы с API краткосрочной аренды (STR)
  - name: Job
    x-displayName: Работа
    description: |
      Методы API для работы с функциональностью вертикали Авито Работа.
  - name: Messenger
    x-displayName: Мессенджер
    description: >
      Методы API для работы с Мессенджером.


      ## Работа с API мессенджера


      API мессенджера предоставляет набор методов, необходимых для получения
      списка чатов пользователя на Авито, получения сообщений в чате, отправки
      сообщения в чат и другие. Благодаря этому API можно организовать
      интеграцию между мессенджером Авито и сторонней системой в обе стороны.


      **Важно!** API мессенджера Авито позволяет получить список сообщений в
      чате. **Не используйте данный метод для поллинга новых сообщений** на
      активном экране пользователя. Используйте только для изначальной отрисовки
      сообщений. Для получения обновлений в реальном времени используйте
      механизм webhooks (см. ниже). При активном поллинге со стороны клиентов
      API будет возвращать ошибку HTTP 429. Мы также можем полностью
      заблокировать ваш клиент в случае если он создает большую нагрузку на API.


      ## Уведомления


      **Уведомления** – HTTP POST запрос от Авито к вашему сайту или приложению,
      также их называют **webhooks**.

      Body запроса представляет собой JSON.



      Уведомления имеют версионирование. Подписаться на нужную версию
      уведомлений можно отправив запрос на соответствующую ручку:

      * messenger/v2/webhook - 2-я версия

      * messenger/v1/webhook - 1-я версия (**DEPRECATED**, используйте v2)


      Несколько важных моментов при работе с уведомлениями:

      * При получении вебхука ваш сервер должен обязательно вернуть HTTP status
      code 200

      * В случае сетевых ошибок, таймаутов и ответов с HTTP статус кодом >= 500
      мы пытаемся переотправить вебхук (несколько раз в течение нескольких
      секунд)

      * Если уведомление по пользователю длительное время отдает отличный от 200
      HTTP статус код – подписка пользователя будет автоматически удалена


      ### Уведомления V2

      HTTP запрос к вашей системе будет содержать следующий payload:

      ```

      {
        "id": "3cc1cbe7-6477-4aad-9272-952f8afb3c30",
        "version": "v2.0.0",
        "timestamp": 1587562733,
        "payload": {
          "type": "message",
          "value": {
            "id": "256347f56e4819deb6f8c59ff14d62a8",
            "type": "text",
            "chat_id": "u2i-1123-1123",
            "user_id": 94235311,
            "author_id": 78743309,
            "created": 1566290351,
            "content": {
              "text": "привет"
            }
          }
        }
      }

      ```


      Payload состоит из полей:

      * type – тип нотификации. На данный момент поддерживается только
      **message**. В будущем в рамках уведомлений v2 могут начать приходить
      новые типы нотификаций помимо **message**. Ваше приложение должно
      игнорировать неизвестные ему типы.

      * value – поля нотификации. В зависимости от типа нотификации, value будет
      иметь разные поля. **Необходимо** обрабатывать неизвестный тип
      уведомления.

      Если ваше приложение получило тип нотификации которое еще не
      поддерживается, то его нужно залогировать или пропустить, но **обязательно
      ответить HTTP кодом 200**.


      #### type:message

      Нотификация с типом message будет содержать value c полями:

      ```

      "value": {
        "id": "256347f56e4819deb6f8c59ff14d62a8",
        "type": "text",
        "chat_id": "u2i-1123-1123",
        "user_id": 94235311,
        "author_id": 78743309,
        "created": 1566290351,
        "content": {
          "text": "привет"
        }
      ```

      * id – идентификатор сообщения. Уникален только в рамках чата, в котором
      находится сообщение

      * chat_id – идентификатор чата

      * user_id – идентификатор пользователя, для которого пришло сообщение

      * author_id – идентификатор пользователя, создавшего сообщение

      * created – время создания сообщения, unix timestamp

      * type – тип сообщения. Типы сообщений поддерживаются: text, image, item,
      location, call, link

      * content – тело сообщения. Поля такие же как и в [API получения
      сообщений](https://api.avito.ru/docs/api.html#operation/getMessages)


      **Важно отметить**, что в мессенджере Авито есть системные сообщения в
      чатах. В данный момент они выглядят в API как текстовые сообщения с
      текстом `Сообщение не поддерживается. Пожалуйста, перейдите в Авито
      мессенджер <ССЫЛКА>`. В будущем мы планируем добавить полноценную
      поддержку платформенных сообщений в наше API.


      ### Уведомления V1 (DEPRECATED, используйте v2)

      HTTP запрос к вашей системе будет содержать следующий payload:

      ```

      {
          "id": "c7a799b4-c6f3-4d8c-88cc-6d7a1d69e6f8",
          "version": "v1.0.0",
          "timestamp": 1566290351,
          "messages": [
            {
              "id": "256347f56e4819deb6f8c59ff14d62a8",
              "chat_id": "u2i-1773856013-78743309",
              "user_id": 94235311,
              "author_id": 78743309,
              "created": 1566290351,
              "type": "text",
              "content": {
                "text": "asd"
              }
            }
          ]
        }
      ```

      Если тип сообщения не поддерживается в нотификациях, поле content будет
      пустым объектом.


      Уведомление содержит поля:

      * id – идентификатор уведомления. С его помощью вы можете определить
      доставлялось ли в вашему сайту такое уведомление или нет для избежания
      дублирования сообщений.

      * version – версия уведомлений. Версия отражает текущую структуру
      уведомлений: название и типы полей. Если изменится структура, то и
      изменится версия согласно Semantic Versioning Specification

      * timestamp – время создания уведомления, unix timestamp

      * messages – массив объектов сообщений


      Объекты массива **messages** содержат поля:

      * id – идентификатор сообщения. Уникален только в рамках чата, в котором
      находится сообщение

      * chat_id – идентификатор чата

      * user_id – идентификатор пользователя, для которого пришло сообщение

      * author_id – идентификатор пользователя, создавшего сообщение

      * created – время создания сообщения, unix timestamp

      * type – тип сообщения. Типы сообщений поддерживаются такие же как и в API
      получения сообщений

      * content – тело сообщения. Поля такие же как и в [API получения
      сообщений](https://api.avito.ru/docs/api.html#operation/getMessages)
  - name: Cpa
    x-displayName: CPA
    description: |
      Методы для работы с сервисом CPA
  - name: Marketplace
    x-displayName: Marketplace Partner API
    description: >
      Программный интерфейс доступа к заказам продавца,

      предназначенный для управления своими заказами через собственную
      логистическую систему учета заказов.
  - name: MarketplaceSandbox
    x-displayName: Marketplace Sandbox Partner API
    description: >
      Программный интерфейс доступа к заказам продавца,

      предназначенный для управления своими заказами через собственную
      логистическую систему учета заказов.


      Внимание! Это выделенный контур для выполнения запросов в тестовое
      окружение.

      Все запросы, выполняемые здесь изолированны от боевого контура Marketplace
      Partner API.
paths:
  /token/:
    get:
      tags:
        - Access
      operationId: getAccessToken
      summary: Получение access token
      description: Получения временного ключа для авторизации
      parameters:
        - name: grant_type
          description: Тип OAuth flow – строка client_credentials
          in: query
          required: true
          schema:
            type: string
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: client_secret
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    description: Ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    type: number
                    format: int32
                  token_type:
                    description: Тип ключа авторизации
                    type: string
              example:
                access_token: kChqt9ewQNAcwgbHp4yFd5
                expires_in: 3600
                token_type: Bearer
  /token/?grant_type=authorization_code:
    get:
      tags:
        - ApplicationAccess
      operationId: getAccessTokenAuthorizationCode
      summary: Получение access token
      description: Получения временного ключа для авторизации запроса от лица пользователя
      parameters:
        - name: grant_type
          description: Тип OAuth flow. Строка authorization_code
          in: query
          required: true
          schema:
            type: string
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: client_secret
          in: query
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    description: Ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    type: number
                    format: int32
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                  scope:
                    description: Полученный скоуп
                    type: string
                  refresh_token:
                    description: Ключ для обновления токена доступа
                    type: string
              example:
                access_token: kChqt9ewQNAcwgbHp4yFd5
                expires_in: 3600
                token_type: Bearer
                scope: 'messenger:read,messenger:write'
                refresh_token: QNAcwgbHQNAcwgbHkChqt9ewQNAcwgbHp4yFd5
  /token/?grant_type=refresh_token:
    get:
      tags:
        - ApplicationAccess
      operationId: refreshAccessTokenAuthorizationCode
      summary: Обновление access token
      description: Обновление временного ключа для авторизации запроса от лица пользователя
      parameters:
        - name: grant_type
          description: Тип OAuth flow. Строка refresh_token
          in: query
          required: true
          schema:
            type: string
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: client_secret
          in: query
          required: true
          schema:
            type: string
        - name: refresh_token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    description: Новый ключ для временной авторизации в системе
                    type: string
                  expires_in:
                    description: Время жизни ключа в секундах
                    type: number
                    format: int32
                  token_type:
                    description: Тип ключа авторизации
                    type: string
                  scope:
                    description: Полученный скоуп
                    type: string
                  refresh_token:
                    description: Новый ключ для обновления токена доступа
                    type: string
              example:
                access_token: 5dFy4pHbgwcANQwe9tqhCk
                expires_in: 3600
                token_type: Bearer
                scope: 'messenger:read,messenger:write'
                refresh_token: 5dFy4pHbgwcANQwe9tqhCkHbgwcANQHbgwcANQ
  '/autoload/v1/accounts/{user_id}/reports/':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - Autoload
      operationId: getReports
      summary: Список отчетов об автозагрузке
      description: |
        Отчеты отсортированы в порядке убывания даты загрузки,
        т.е. самый свежий отчет будет в самом начале списка
      security:
        - Authorization Code:
            - 'autoload:reports'
        - Client Credentials: []
      parameters:
        - $ref: '#/components/parameters/perPage'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    $ref: '#/components/schemas/ReportCollectionAutoload'
                  meta:
                    $ref: '#/components/schemas/MetaAutoload'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAutoload'
  '/autoload/v1/accounts/{user_id}/reports/{reportId}/':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - name: reportId
        description: Идентификатор отчета
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - Autoload
      operationId: getReportById
      summary: Получение данных отчета по ID
      description: |
        Возвращает данные одного отчета об автозагрузке по ID отчета
      security:
        - Authorization Code:
            - 'autoload:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    $ref: '#/components/schemas/ReportAutoload'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAutoload'
  '/autoload/v1/accounts/{user_id}/reports/last_report/':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - Autoload
      operationId: getLastReport
      summary: Получение данных последнего актуального отчета
      description: |
        Возвращает данные отчета о последнем завершенном цикле автозагрузки
      security:
        - Authorization Code:
            - 'autoload:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  report:
                    $ref: '#/components/schemas/ReportAutoload'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorAutoload'
  '/autoload/v1/accounts/{user_id}/items/{ad_id}/':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - name: ad_id
        description: Идентификатор объявления из XML
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - Autoload
      operationId: getAutoloadItemInfo
      summary: Получение информации о выгрузке объявления
      description: |
        Возвращает данные отчета о выгрузке объявления на сайт **avito.ru**
      security:
        - Authorization Code:
            - 'autoload:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemInfoAutoload'
        default:
          description: Все ошибки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldError'
  /core/v1/items:
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: per_page
        in: query
        description: Количество записей на странице (целое число больше 0 и меньше 100)
        required: false
        schema:
          type: integer
          format: int32
          default: 25
          example: 50
      - name: page
        in: query
        description: Номер страницы (целое число больше 0)
        required: false
        schema:
          type: integer
          format: int32
          default: 1
          example: 1
      - name: status
        in: query
        description: >-
          Статус объявления на сайте (можно указать несколько значений через
          запятую)
        required: false
        schema:
          type: string
          default: active
          example: 'active,old'
          enum:
            - active
            - removed
            - old
            - blocked
            - rejected
      - name: category
        in: query
        description: Идентификатор категории объявления
        required: false
        schema:
          type: integer
          format: int32
          example: 111
    get:
      tags:
        - Item
      operationId: getItemsInfo
      summary: Получение информации по объявлениям
      description: >
        Возвращает список объявлений авторизованного пользователя - статус,
        категорию и ссылку на сайте
      security:
        - Authorization Code:
            - 'items:info'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsInfoWithCategoryAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldError'
  '/core/v1/accounts/{user_id}/items/{item_id}/':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/pathItemId'
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - Item
      operationId: getItemInfo
      summary: Получение информации по объявлению
      description: >
        Возвращает данные об объявлении - его статус, список примененных услуг,
        статистику просмотров


        **Внимание:** для получения статистики рекомендуется использование
        методов

        [Получение статистики по одному объявлению](#operation/itemStatsDeep)
        или

        [Получение статистики по списку объявлений](#operation/itemStatsShallow)
      security:
        - Authorization Code:
            - 'items:info'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemInfoAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldError'
  '/core/v1/accounts/{user_id}/stats/items':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Item
      deprecated: true
      operationId: getItemsStats
      summary: Получение статистики по объявлениям
      description: >
        Получение статистики по списку идентификаторов объявлений на сайте.


        **Внимание:** это deprecated method, который будет выключен 1 декабря
        2020 года.


        **Внимание:** для получения статистики рекомендуется использование
        методов

        [Получение статистики по одному объявлению](#operation/itemStatsDeep)
        или

        [Получение статистики по списку объявлений](#operation/itemStatsShallow)
      security:
        - Authorization Code:
            - 'items:info'
        - Client Credentials: []
      requestBody:
        description: Набор идентификаторов объявлений на сайте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemIdsRequestBody'
            example:
              item_ids:
                - 1234567
                - 7654321
      responses:
        '200':
          x-examples:
            application/json:
              stats:
                <item_id_1>:
                  item_views: 0
                  contact_views: 0
                <item_id_2>:
                  item_views: 0
                  contact_views: 0
              errors:
                not_found:
                  - <item_id_3>
                  - <item_id_4>
                invalidate_values:
                  - <item_id_5>
                  - <item_id_6>
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  stats:
                    description: >-
                      Статистика просмотров объявления в формате ключ-значение,
                      где в качестве ключа выступает идентификатор объявления на
                      сайте
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemsInfoAvito'
                  errors:
                    type: object
                    properties:
                      not_found:
                        description: >-
                          Список идентификаторов, которые не удалось найти -
                          отсутствуют на сайте, удалены или принадлежат другому
                          пользователю
                        type: array
                        items:
                          type: integer
                      invalidate_values:
                        type: array
                        description: >-
                          Список значений, которые не удалось распознать как
                          идентификаторы объявлений
                        items:
                          type: integer
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/core/v1/accounts/{user_id}/calls/stats/':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Item
      operationId: postCallsStats
      summary: Получение статистики по звонкам
      description: |
        Получение агрегированной статистики звонков, полученных пользователем
      security:
        - Authorization Code:
            - 'items:info'
        - Client Credentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallsStatsRequest'
            example:
              dateFrom: '2020-04-01'
              dateTo: '2020-04-08'
              itemIds:
                - 1853257996
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallsStatsResponse'
              example:
                result:
                  items:
                    - employeeId: 0
                      itemId: 1853257996
                      days:
                        - date: '2020-04-01'
                          calls: 0
                          answered: 0
                          new: 0
                          newAnswered: 0
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Неверный user_id в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/core/v1/accounts/{user_id}/price/vas':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Item
      operationId: getVasPrices
      summary: Получение информации о стоимости дополнительных услуг
      description: >
        Возвращает в ответ объект со следующей структурой:

        - `vas` – объект, который содержит информацию о стоимости дополнительных
        услуг для каждого объявления.

        Ключами являются идентификаторы объявлений, значениями – объекты с
        информацией о стоимости услуг для данного объявления:
          - `highlight` — [услуга продвижения "Выделить"](https://support.avito.ru/articles/200026858)
          - `xl` – [услуга продвижения "XL-объявление"](https://support.avito.ru/articles/685)
        - `errors` – идентификаторы объявлений, для которых информация не
        получена.
      security:
        - Authorization Code:
            - 'items:info'
        - Client Credentials: []
      requestBody:
        description: Набор идентификаторов объявлений на сайте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemIdsRequestBody'
            example:
              item_ids:
                - 1234567
                - 7654321
                - id
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  vas:
                    $ref: '#/components/schemas/PriceInfoVas'
                  errors:
                    $ref: '#/components/schemas/ErrorItemsVas'
              example:
                vas:
                  '1234567':
                    highlight: 119
                    xl: 199
                errors:
                  - 7654321
                  - id
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/core/v1/accounts/{user_id}/price/vas_packages':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Item
      operationId: getVasPackagePrice
      summary: Получение информации о стоимости пакетов дополнительных услуг
      description: >
        Возвращает в ответ объект со следующей структурой:

        - `packages` – объект, который содержит информацию о стоимости пакетов
        дополнительных услуг для каждого объявления.

        Ключами являются идентификаторы объявлений, значениями – объекты с
        информацией о стоимости пакетов услуг для данного объявления:
          - `x2_1` - [пакет "до 2 раз больше просмотров на 1 день"](https://support.avito.ru/articles/1398)
          - `x2_7` - [пакет "до 2 раз больше просмотров на 7 дней"](https://support.avito.ru/articles/1398)
          - `x5_1` - [пакет "до 5 раз больше просмотров на 1 день"](https://support.avito.ru/articles/1398)
          - `x5_7` - [пакет "до 5 раз больше просмотров на 7 дней"](https://support.avito.ru/articles/1398)
          - `x10_1` - [пакет "до 10 раз больше просмотров на 1 день"](https://support.avito.ru/articles/1398)
          - `x10_7` - [пакет "до 10 раз больше просмотров на 7 дней"](https://support.avito.ru/articles/1398)
        - `errors` – идентификаторы объявлений, для которых информация не
        получена.
      security:
        - Authorization Code:
            - 'items:info'
        - Client Credentials: []
      requestBody:
        description: Набор идентификаторов объявлений на сайте
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/itemIdsRequestBody'
            example:
              item_ids:
                - 1234567
                - 7654321
                - id
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    $ref: '#/components/schemas/PackagePriceInfoVas'
                  errors:
                    $ref: '#/components/schemas/ErrorItemsVas'
              example:
                packages:
                  '1234567':
                    x2_1: 599
                    x2_7: 799
                    x5_1: 1299
                    x5_7: 1599
                    x10_1: 2199
                    x10_7: 2999
                errors:
                  - 7654321
                  - id
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/core/v1/accounts/{user_id}/items/{item_id}/vas':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/pathItemId'
      - $ref: '#/components/parameters/authHeader'
    put:
      tags:
        - Item
      operationId: putItemVas
      summary: Применение дополнительных услуг
      description: >
        Применение дополнительной услуги к объявлению, в ответе возвращает
        данные о примененной услуге и сумму списания.

        [Более подробная информация по дополнительным
        услугам](https://support.avito.ru/sections/200009758)
      security:
        - Authorization Code:
            - 'items:apply_vas'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vasIdRequestBody'
            example:
              vas_id: highlight
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VasApplyAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/core/v2/accounts/{user_id}/items/{item_id}/vas_packages':
    parameters:
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/pathItemId'
      - $ref: '#/components/parameters/authHeader'
    put:
      tags:
        - Item
      operationId: putItemVasPackageV2
      summary: Применение пакета дополнительных услуг
      description: >
        Применение пакета дополнительных услуг к объявлению, в ответе возвращает
        сумму списания
      security:
        - Authorization Code:
            - 'items:apply_vas'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packageIdRequestBodyV2'
            example:
              package_id: x10_7
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VasAmountAvito'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/core/v1/accounts/{user_id}/items/{item_id}/bookings':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/pathItemId'
    post:
      tags:
        - Realty
      operationId: putBookingsInfo
      summary: Заполнение календаря занятости объекта недвижимости
      description: >
        Заполнение календаря занятости объекта недвижимости (для краткосрочной
        аренды)
      security:
        - Authorization Code:
            - 'short_term_rent:write'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCalendarData'
            example:
              bookings:
                - date_start: '2018-03-23'
                  date_end: '2018-03-25'
                - date_start: '2018-05-23'
                  date_end: '2018-07-25'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Результат обработки запроса
                    enum:
                      - success
                      - fail
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /core/v1/accounts/self:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - User
      operationId: getUserInfoSelf
      summary: Получение информации об авторизованном пользователе
      description: |
        Возвращает идентификатор пользователя и его регистрационные данные
      security:
        - Authorization Code:
            - 'user:read'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoSelf'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '403':
          description: Неверный Token/Oauth Scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/core/v1/accounts/{user_id}/balance/':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/userId'
    get:
      tags:
        - User
      operationId: getUserBalance
      summary: Получение баланса кошелька пользователя
      description: >
        Возвращает сумму реальных денежных средств в кошельке, а также сумму
        бонусных средств
      security:
        - Authorization Code:
            - 'user_balance:read'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '403':
          description: Неверный Token/Oauth Scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbiddenError'
        '404':
          description: Неверный user_id в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  /core/v1/accounts/operations_history/:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - User
      operationId: postOperationsHistory
      summary: Получение истории операций пользователя
      description: >
        Возвращает список операций пользователя (списания/пополнение кошелька -
        деньги и бонусы) за определенный временной период (задается
        пользователем)
      security:
        - Authorization Code:
            - 'user_operations:read'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestOperationsHistory'
            example:
              dateTimeFrom: '2020-04-01T00:00:00'
              dateTimeTo: '2020-04-08T00:00:00'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOperationsHistory'
              example:
                operations:
                  - updatedAt: '2020-04-27T10:51:50.012436+03:00'
                    operationType: резервирование средств под услугу
                    serviceType: vas
                    serviceId: 16
                    serviceName: Сделать XL объявлением
                    operationName: >-
                      Резервирование средств. Услуга «Сделать XL объявлением»
                      для объявления №1853257996
                    amountTotal: 119
                    amountRub: 119
                    amountBonus: 0
                    itemId: 1853257996
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  /autoteka/v1/request-preview-by-item-id:
    post:
      parameters:
        - $ref: '#/components/parameters/authHeader'
      tags:
        - Autoteka
      operationId: postPreviewByItemId
      summary: Запрос на создание превью по ID объявления
      description: >
        Возвращает идентификатор `previewId`, по которому асинхронно с помощью
        [запроса на получение превью по ID](#operation/getPreview) можно
        получить результат
      security:
        - Authorization Code:
            - 'autoteka:previews'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPreviewByItemIdAutoteka'
            example:
              itemId: 1234567
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /autoteka/v1/request-preview-by-regnumber:
    post:
      parameters:
        - $ref: '#/components/parameters/authHeader'
      tags:
        - Autoteka
      operationId: postPreviewByRegNumber
      summary: Запрос на создание превью по государственному номеру
      description: >
        Возвращает идентификатор `previewId`, по которому асинхронно с помощью
        [запроса на получение превью по ID](#operation/getPreview) можно
        получить результат
      security:
        - Authorization Code:
            - 'autoteka:previews'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPreviewByRegNumberAutoteka'
            example:
              regNumber: X777XX777
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /autoteka/v1/previews:
    post:
      parameters:
        - $ref: '#/components/parameters/authHeader'
      tags:
        - Autoteka
      operationId: postPreviewByVin
      summary: Запрос на создание превью по VIN
      description: >
        Возвращает идентификатор `previewId`, по которому асинхронно с помощью
        [запроса на получение превью по ID](#operation/getPreview) можно
        получить результат
      security:
        - Authorization Code:
            - 'autoteka:previews'
        - Client Credentials: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPreviewByVinAutoteka'
            example:
              vin: XTA210990Y2766111
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/autoteka/v1/previews/{previewId}':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: previewId
        required: true
        in: path
        schema:
          type: integer
        description: Идентификатор превью
    get:
      tags:
        - Autoteka
      operationId: getPreview
      summary: |
        Запрос на получение превью по ID
      description: >
        Возвращает текущий статус сбора информации превью, и краткую инфо по
        запрашиваемому `VIN`
      security:
        - Authorization Code:
            - 'autoteka:previews'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPreviewResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /autoteka/v1/reports:
    post:
      tags:
        - Autoteka
      operationId: postReport
      summary: |
        Запрос на создание отчета по превью
      description: >
        Метод для запроса отчета по `previewId`, возвращает идентификатор отчета
        по которому сформированный отчет можно получить в [методе для получения
        отчета по его идентификатору](#operation/getReport). При запросе
        происходит списание доступных отчетов
      security:
        - Authorization Code:
            - 'autoteka:reports'
        - Client Credentials: []
      parameters:
        - $ref: '#/components/parameters/authHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestReportByPreviewIdAutoteka'
            example:
              previewId: 1111
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReportResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/autoteka/v1/reports/{report_id}':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: report_id
        in: path
        description: Идентификатор отчета.
        required: true
        schema:
          type: integer
    get:
      tags:
        - Autoteka
      operationId: getReport
      summary: |
        Метод для получения отчета по ID
      description: >
        Получение подробного отчета по его идентификатору, полученному из
        [запроса на создание отчета](#operation/postReport)
      security:
        - Authorization Code:
            - 'autoteka:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /autoteka/v1/reports/list/:
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: lastReportId
        in: query
        description: Идентификатор отчета для получения данных постранично.
        schema:
          type: integer
      - name: limit
        in: query
        description: >-
          Количество отчетов в результате, максимальное значение 500, по
          умолчанию 20.
        schema:
          type: integer
    get:
      tags:
        - Autoteka
      operationId: getReportList
      summary: |
        Метод для получения списка отчётов
      description: >
        Получение списка запрошенных ранее отчетов [запроса на создание
        отчета](#operation/postReport)
      security:
        - Authorization Code:
            - 'autoteka:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReportsListResponseDataAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
    put:
      tags:
        - Autoteka
      operationId: putReport
      summary: >
        Метод для обновление отчета по его идентификатору в случае отсуствия
        данных
      description: >
        Запрос на перегенерацию отчета по ID, который был получен из [запроса на
        создание отчета](#operation/postReport)
      security:
        - Authorization Code:
            - 'autoteka:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateReportResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /autoteka/v1/packages/active_package:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    get:
      tags:
        - Autoteka
      operationId: getActivePackage
      summary: |
        Метод для запроса остатка отчётов в текущем пакете пользователя
      description: |
        Возвращает остаток отчётов в текущем пакете пользователя
      security:
        - Authorization Code:
            - 'autoteka:reports'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivePackageResponseBodyAutoteka'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /marketplace/shipment/getInfo:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Информация об отправлении
      description: |
        Возвращает информацию об отправлении по его идентификатору.
      security:
        - Client Credentials: []
      operationId: ShipmentGetInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentInfoRequest'
        required: true
  /marketplace/shipment/getList:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Список отправлений
      description: |
        Возвращает список отправлений за указанный период времени.

        Дополнительно можно отфильтровать отправления.

        Максимальное количество отправлений в ответе: 50
      security:
        - Client Credentials: []
      operationId: ShipmentGetList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentListReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentListRequest'
        required: false
  /marketplace/shipment/confirm:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Подтвердить отправление
      description: |
        Выполнить подтверждение отправления продавцом.
      security:
        - Client Credentials: []
      operationId: ShipmentConfirm
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentConfirmReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentConfirmRequest'
        required: true
  /marketplace/shipment/reject:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Отменить отправление
      description: |
        Выполнить отмену отправления продавцом.
      security:
        - Client Credentials: []
      operationId: ShipmentReject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentRejectReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentRejectRequest'
        required: true
  /marketplace/shipment/assemble:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Скомплектовать товар(-ы) для отправления
      description: |
        Выполнить комплектацию товара(-ов) для отправления продавцом
      security:
        - Client Credentials: []
      operationId: ShipmentAssemble
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentAssembleReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAssembleRequest'
        required: true
  /marketplace/shipment/pickup:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Подтвердить отгрузку товара(-ов) на отправление
      description: |
        Подтвердить отгрузку товара(-ов) на отправление
      security:
        - Client Credentials: []
      operationId: ShipmentPickUp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentPickUpReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentPickUpRequest'
        required: true
  /marketplace/shipment/createAcceptanceCert:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Marketplace
      summary: Получить PDF-файл акта приёма-передачи
      description: |
        Получить PDF-файл акта приёма-передачи
      security:
        - Client Credentials: []
      operationId: ShipmentCreateAcceptanceCert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentCreateAcceptanceCertReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
  /marketplace-sandbox/shipment/getInfo:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Информация об отправлении
      description: |
        Возвращает информацию об отправлении по его идентификатору.
      security:
        - Client Credentials: []
      operationId: ShipmentGetInfoSandbox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentInfoRequest'
        required: true
  /marketplace-sandbox/shipment/getList:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Список отправлений
      description: |
        Возвращает список отправлений за указанный период времени.

        Дополнительно можно отфильтровать отправления.

        Максимальное количество отправлений в ответе: 50
      security:
        - Client Credentials: []
      operationId: ShipmentGetListSandbox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentListReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentListRequest'
        required: false
  /marketplace-sandbox/shipment/confirm:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Подтвердить отправление
      description: |
        Выполнить подтверждение отправления продавцом.
      security:
        - Client Credentials: []
      operationId: ShipmentConfirmSandbox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentConfirmReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentConfirmRequest'
        required: true
  /marketplace-sandbox/shipment/reject:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Отменить отправление
      description: |
        Выполнить отмену отправления продавцом.
      security:
        - Client Credentials: []
      operationId: ShipmentRejectSandbox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentRejectReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentRejectRequest'
        required: true
  /marketplace-sandbox/shipment/assemble:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Скомплектовать товар(-ы) для отправления
      description: |
        Выполнить комплектацию товара(-ов) для отправления продавцом
      security:
        - Client Credentials: []
      operationId: ShipmentAssembleSandbox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentAssembleReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentAssembleRequest'
        required: true
  /marketplace-sandbox/shipment/pickup:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Подтвердить отгрузку товара(-ов) на отправление
      description: |
        Подтвердить отгрузку товара(-ов) на отправление
      security:
        - Client Credentials: []
      operationId: ShipmentPickUpSandbox
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentPickUpReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentPickUpRequest'
        required: true
  /marketplace-sandbox/shipment/createAcceptanceCert:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - MarketplaceSandbox
      summary: Получить PDF-файл акта приёма-передачи
      description: |
        Получить PDF-файл акта приёма-передачи
      security:
        - Client Credentials: []
      operationId: ShipmentCreateAcceptanceCert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentCreateAcceptanceCertReply'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorReply'
  '/realty/v1/accounts/{user_id}/items/{item_id}/prices':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/pathItemId'
    post:
      tags:
        - Realty
      operationId: postRealtyPrices
      summary: |
        Актуализация параметров для выбранных периодов
      description: >
        Обновляет параметры (цена за ночь, доплата за гостя, минимальная
        продолжительность брони) для

        каждого из переданных диапазонов дат
      security:
        - Authorization Code:
            - 'short_term_rent:write'
        - Client Credentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamPricesRealty'
            example:
              prices:
                - date_from: '2018-06-02'
                  date_to: '2018-06-14'
                  minimal_duration: 1
                  extra_guest_fee: 500
                  night_price: 1500
                - date_from: '2018-06-15'
                  date_to: '2018-07-15'
                  minimal_duration: 7
                  extra_guest_fee: 1000
                  night_price: 5000
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: Результат обработки запроса
                    enum:
                      - success
                      - fail
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  '/realty/v1/accounts/{user_id}/items/{item_id}/bookings':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/pathUserId'
      - $ref: '#/components/parameters/pathItemId'
      - name: date_start
        in: query
        description: 'Фильтр, ограничивающий выборку по нижней границе дат'
        required: true
        schema:
          type: string
          format: date
          example: '2018-01-01'
      - name: date_end
        in: query
        description: 'Фильтр, ограничивающий выборку по верхней границе дат'
        required: true
        schema:
          type: string
          format: date
          example: '2018-05-01'
    get:
      tags:
        - Realty
      operationId: getRealtyBookings
      summary: |
        Получение списка броней по объявлению
      description: |
        Возвращает информацию о бронированиях объекта за весь период.
      security:
        - Authorization Code:
            - 'short_term_rent:read'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookings:
                    type: array
                    description: Список броней
                    items:
                      $ref: '#/components/schemas/RealtyBooking'
        default:
          description: Информация об ошибке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
  /job/v1/vacancies:
    parameters:
      - $ref: '#/components/parameters/authHeader'
    post:
      tags:
        - Job
      operationId: postVacancy
      summary: Публикация вакансии
      description: |
        Создает объявление в категории Вакансии
      security:
        - Authorization Code:
            - 'job:write'
        - Client Credentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VacancyCreate'
            example:
              name: объявление
              description: описание
              allow_messages: true
              contacts:
                name: менеджер
                phone:
                  country: '+7'
                  city: '201'
                  number: '1001158'
              address: Москва
              business_area: 7
              schedule:
                id: flyInFlyOut
              experience:
                id: moreThan1
              billing_type: package
      responses:
        '201':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacanctCreateResult'
          headers:
            Location:
              description: Заголовок будет содержать ссылку на добавленную вакансию.
              schema:
                type: string
        '400':
          title: Oшибка в поле вакансии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '402':
          title: Oшибка оплаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
        '403':
          description: Создание вакансий недоступно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreationForbiddenError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/job/v1/vacancies/{vacancy_id}':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/pathVacancyId'
    put:
      tags:
        - Job
      operationId: putVacancy
      summary: Редактирование вакансии
      description: |
        Редактирует объявление в категории Вакансии
      security:
        - Authorization Code:
            - 'job:write'
        - Client Credentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VacancyUpdate'
            example:
              name: объявление
              description: описание
              allow_messages: true
              contacts:
                name: менеджер
                phone:
                  country: '+7'
                  city: '201'
                  number: '1001158'
              address: Москва
              experience:
                id: moreThan1
              billing_type: package
      responses:
        '204':
          description: Успешный ответ
        '400':
          title: Oшибка в поле вакансии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '402':
          title: Oшибка оплаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
        '403':
          description: Редактирование вакансий недоступно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditingForbiddenError'
        '404':
          description: Редактируемая вакансия не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/job/v1/vacancies/archived/{vacancy_id}':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/pathVacancyId'
    put:
      tags:
        - Job
      operationId: putArchivedVacancy
      summary: Остановка публикации вакансии
      description: |
        Снимает с публикации объявление в категории Вакансии
      security:
        - Authorization Code:
            - 'job:write'
        - Client Credentials: []
      responses:
        '204':
          description: Успешный ответ
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '402':
          title: Oшибка оплаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
        '403':
          description: Остановка публикации вакансий недоступно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoppingForbiddenError'
        '404':
          description: Вакансия не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/job/v1/vacancies/{vacancy_id}/prolongate':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - $ref: '#/components/parameters/pathVacancyId'
    post:
      tags:
        - Job
      operationId: postProlongateVacancy
      summary: Реактивация вакансии
      description: |
        Реактивирует объявление в категории Вакансии
      security:
        - Authorization Code:
            - 'job:write'
        - Client Credentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VacancyProlongate'
            example:
              billing_type: package
      responses:
        '204':
          description: Успешный ответ
        '400':
          title: Oшибка в поле вакансии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestShort'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '402':
          title: Oшибка оплаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
        '403':
          description: Активация вакансий недоступна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationForbiddenError'
        '404':
          description: Вакансия не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemNotFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  /job/v1/resumes/:
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: per_page
        in: query
        description: >-
          Количество записей на странице (положительное число больше 0 и меньше
          100)
        required: false
        schema:
          type: integer
          format: int32
          default: 25
          example: 50
      - name: page
        in: query
        description: Номер страницы (положительное число больше 0)
        required: false
        schema:
          type: integer
          format: int32
          default: 1
          example: 1
      - name: cursor
        in: query
        description: >-
          Курсор поиска (если не указан, будет начат новый поиск и его курсор
          будет возвращен в ответе)
        required: false
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: Поля ответа (можно указать несколько значений через запятую)
        required: false
        schema:
          type: string
          enum:
            - title
            - location
            - specialization
            - education_level
            - total_experience
            - gender
            - age
            - salary
            - is_purchased
            - created_at
            - updated_at
          example: 'title,specialization,total_experience,salary'
      - name: query
        in: query
        description: Поисковая фраза
        required: false
        schema:
          type: string
          example: оператор call-центра
      - name: location
        in: query
        description: >
          Идентификатор региона поиска (можно указать несколько значений через
          запятую)

          <br>

          Метод принимает идентификаторы сущностей Region и City из
          [справочника](http://autoload.avito.ru/format/Locations.xml).
        required: false
        schema:
          type: integer
          format: int64
          example: 637640
      - name: specialization
        in: query
        description: >
          Идентификатор сферы деятельности (можно указать несколько значений
          через запятую)

          <br>

          Возможные значения:

          - 10166 - IT, интернет, телеком

          - 10167 - Медицина, фармацевтика

          - 10168 - Продажи

          - 10169 - Страхование

          - 10170 - Транспорт, логистика

          - 10171 - Образование, наука

          - 10172 - Строительство

          - 10173 - Туризм, рестораны

          - 10174 - Фитнес, салоны красоты

          - 10175 - Без опыта, студенты

          - 10180 - Автомобильный бизнес

          - 10181 - Бухгалтерия, финансы

          - 10182 - Высший менеджмент

          - 10183 - Госслужба, НКО

          - 10184 - ЖКХ, эксплуатация

          - 10185 - Искусство, развлечения

          - 10186 - Консультирование

          - 10187 - Маркетинг, реклама, PR

          - 10188 - Охрана, безопасность

          - 10189 - Управление персоналом

          - 10190 - Юриспруденция

          - 10191 - Административная работа

          - 10192 - Банки, инвестиции

          - 10193 - Производство, сырьё, с/х

          - 16844 - Домашний персонал
        required: false
        schema:
          type: integer
          format: int64
          example: '10175,10186'
      - name: schedule
        in: query
        description: |
          График работы (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - partial-day - Неполный рабочий день
          - full-day - Полный рабочий день
          - fly-in-fly-out - Вахтовый метод
          - flexible - Гибкий график
          - shift - Сменный график
          - remote - Удаленная работа
        required: false
        schema:
          type: string
          enum:
            - partial-day
            - full-day
            - fly-in-fly-out
            - flexible
            - shift
            - remote
          example: remote
      - name: business_trip_readiness
        in: query
        description: >
          Готовность к командировкам (можно указать несколько значений через
          запятую)

          <br>

          Возможные значения:

          - ready - Готов

          - never - Не готов

          - sometimes - Иногда
        required: false
        schema:
          type: string
          enum:
            - ready
            - never
            - sometimes
      - name: relocation_readiness
        in: query
        description: |
          Готовность к переезду (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - possible - Возможен
          - never - Невозможен
        required: false
        schema:
          type: string
          enum:
            - possible
            - never
      - name: gender
        in: query
        description: |
          Пол (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - female - Женщина
          - male - Мужчина
        required: false
        schema:
          type: string
          enum:
            - female
            - male
      - name: age_min
        in: query
        description: 'Минимальный возраст (включительно, положительное число от 18 до 99)'
        required: false
        schema:
          type: integer
          format: int32
          default: 18
      - name: age_max
        in: query
        description: 'Максимальный возраст (включительно, положительное число от 18 до 99)'
        required: false
        schema:
          type: integer
          format: int32
          default: 99
      - name: education_level
        in: query
        description: |
          Уровень образования (можно указать несколько значений через запятую)
          <br>
          Возможные значения:
          - higher - Высшее
          - unfinished-higher - Неоконченное высшее
          - secondary - Среднее
          - special-secondary - Среднее специальное
        required: false
        schema:
          type: string
          enum:
            - higher
            - unfinished-higher
            - secondary
            - special-secondary
          example: unfinished-higher
      - name: experience_min
        in: query
        description: 'Минимальный стаж работы (включительно, положительное число от 0 до 50)'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: experience_max
        in: query
        description: >-
          Максимальный стаж работы (включительно, положительное число от 0 до
          50)
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          example: 3
      - name: salary_min
        in: query
        description: >-
          Минимальный размер заработной платы (включительно, положительное
          число)
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: salary_max
        in: query
        description: >-
          Максимальный размер заработной платы (включительно, положительное
          число)
        required: false
        schema:
          type: integer
          format: int64
          example: 25000
      - name: updated_than
        in: query
        description: Дата последнего обновления
        required: false
        schema:
          type: string
          format: date-time
    get:
      tags:
        - Job
      operationId: getResumes
      summary: |
        Поиск резюме
      security:
        - Authorization Code:
            - 'job:cv'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                title: Список найденных резюме
                properties:
                  resumes:
                    type: array
                    title: Список резюме
                    items:
                      $ref: '#/components/schemas/SimplifiedResume'
                  meta:
                    $ref: '#/components/schemas/ResumeSearchMeta'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/job/v1/resumes/{resume_id}/':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: resume_id
        in: path
        description: Идентификатор резюме
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: Поля ответа (можно указать несколько значений через запятую)
        required: false
        schema:
          type: string
          enum:
            - title
            - description
            - url
            - experience
            - education
            - language
            - location
            - photos
            - specialization
            - schedule
            - education_level
            - gender
            - total_experience
            - age
            - citizenship
            - business_trip_readiness
            - relocation_readiness
            - salary
            - is_purchased
            - created_at
            - updated_at
          example: 'title,specialization,total_experience,salary'
    get:
      deprecated: true
      tags:
        - Job
      operationId: getResume
      summary: |
        Просмотр резюме
      security:
        - Authorization Code:
            - 'job:cv'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resume'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatingError'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Резюме не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/job/v2/resumes/{resume_id}/':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: resume_id
        in: path
        description: Идентификатор резюме
        required: true
        schema:
          type: integer
          format: int64
      - name: fields
        in: query
        description: >-
          Поля основного тела ответа (можно указать несколько значений через
          запятую). По умолчанию отображаются все поля.
        required: false
        schema:
          type: string
          enum:
            - title
            - description
            - url
            - salary
            - is_purchased
            - start_time
            - update_time
            - is_active
          example: 'title,description,salary'
      - name: params
        in: query
        description: >-
          Дополнительные поля, которые входят в params (можно указать несколько
          значений через запятую). По умолчанию отображаются все поля.
        required: false
        schema:
          type: string
          enum:
            - ability_to_business_trip
            - address
            - age
            - business_area
            - education
            - education_list
            - experience
            - experience_list
            - language_list
            - moving
            - nationality
            - pol
            - razreshenie_na_rabotu_v_rossii
            - schedule
          example: 'address,age'
      - name: photos
        in: query
        description: 'Признак того, нужно ли отдавать картинки, по умолчанию false'
        required: false
        schema:
          default: false
          type: bool
          example: true
    get:
      tags:
        - Job
      operationId: getResume 2.0
      summary: |
        Просмотр резюме v2.0
      description: >
        По умолчанию fields и params выводятся все. Если указана только часть
        полей - остальные поля будут отсутствовать в ответе.
      security:
        - Authorization Code:
            - 'job:cv'
        - Client Credentials: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resume2.0'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestError'
        '401':
          description: Требуется аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'
        '404':
          description: Резюме не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundError'
        '500':
          description: Внутренняя ошибка метода API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceError'
        '503':
          description: Метод API временно недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceUnavailableError'
  '/job/v1/resumes/{resume_id}/contacts/':
    parameters:
      - $ref: '#/components/parameters/authHeader'
      - name: resume_id
        in: path
        description: Идентификатор резюме
        required: true
        schema:
          type: integer
[...]
